<div class="container">
  @for (item of cart(); track item.id) {
    <mat-card>
      <mat-card-title>{{ item.product.title }}</mat-card-title>
      <mat-card-subtitle>${{ item.product.price | currency: 'USD' }}</mat-card-subtitle>

      <mat-card-content>
        <div class="quantity-controls">
          <button mat-mini-fab color="primary" (click)="decrease(item.id, item.quantity)">
            <mat-icon>remove</mat-icon>
          </button>

          <span>{{ item.quantity }}</span>

          <button mat-mini-fab color="primary" (click)="increase(item.id, item.quantity)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="warn" class="remove-button" (click)="remove(item.id)">
          <mat-icon>delete</mat-icon>
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  }

  @if (cart().length === 0) {
    <mat-card class="empty-cart">
      <mat-card-content>
        <div class="empty-icon-container">
          <mat-icon class="empty-icon">shopping_cart</mat-icon>
        </div>
        <h2 class="empty-cart-message">Your cart is empty.</h2>
        <p class="empty-cart-description">Browse our products to add items to your cart.</p>
        <button mat-raised-button color="primary" [routerLink]="['/products']">Shop Now</button>
      </mat-card-content>
    </mat-card>
  } @else {
    <mat-card class="total-card">
      <div class="d-flex justify-content-between align-items-center w-100">
        <mat-card-title class="text-white mb-0">
          Total: {{ totalPrice() | currency: 'USD' : 'symbol' }}
        </mat-card-title>

        <button
          mat-raised-button
          matButton="filled"
          color="warn"
          class="flex-shrink-0 remove-button"
          (click)="clear()"
        >
          Clear Cart
          <mat-icon class="mat-icon">clear</mat-icon>
        </button>
      </div>
    </mat-card>
  }
</div>
